asgiref==3.4.1
coverage==5.5
dj-database-url==0.5.0
Django==3.2.7
django-environ==0.8.1
django-heroku==0.0.0
flake8==3.9.2
flake8-django==1.1.2
flake8-docstrings==1.6.0
mccabe==0.6.1
psycopg==3.0.1
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
python-dotenv==0.19.0
pytz==2021.1
snowballstemmer==2.1.0
sqlparse==0.4.1
whitenoise==5.3.0
