{% extends 'base.html' %}

{% block header %}
    <title>KU Polls::Logged out</title>
{% endblock %}

{% block main_content %}
    <div class="full-page">
        <div class="card login-card">
            <div class="card-body">
                <h2>Successfully logged out</h2>
                <p>You have been signed out. What to do next?</p>
                <a href="{% url 'login'%}">
                    <button type="submit" class="btn btn-primary">Sign in again</button>
                </a>
                <a href="{% url 'polls:index' %}">
                    <button class="btn btn-secondary">Back to home page</button>
                </a>

            </div>
        </div>
    </div>
{% endblock %}