{% extends 'polls/base.html' %}

{% block header %}
    <title>KU Polls::{{ question.question_text }}</title>
{% endblock %}

{% block main_content %}
    <div class="d-flex align-items-center justify-content-center" style="padding: 40px 20px 0 20px;">
        <div class="row justify-content-between w-50">
            <div class="col-6"><a class="home-btn btn btn-primary" href="/" role="button">Home</a></div>
            <div class="col-6"><button class="btn btn-primary" onClick="window.location.reload();" style="float: right !important;">Regenerate color</button></div>
        </div>
    </div>
    <div>
    <div class="d-flex flex-column min-vh-100 align-items-center" style="padding: 0 20px 0 20px;">
        <table class="content-table w-50 submit-table" style="background-color: white;">
        <thead>
            <tr>
                <th class="text-center"><h2>{{ question.question_text }}</h2></th>
            </tr>
        </thead>
        <tbody>
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <tr style="background-color: white;"><td>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </td></tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="submit-cell"><td>
            <input type="submit" value="vote"/>
            </td></tr>
        </form>
        </tfoot>
        </table>
    </div>
        {% if error_message %}
            <div class="d-flex justify-content-center" style="color: red;">
                <strong>{{ error_message }}</strong>
            </div>
        {% endif %}
{% endblock %}