{% extends 'polls/base.html' %}
{% load static %}

{% block header %}
    <title>KU Polls</title>
{% endblock %}

{% block main_content %}
    <div class="container" style="padding: 20px; height:100%;">
    <div class="row d-flex justify-content-center" style="padding-top: 20px">
        <div class="w-75">
            <h1 style="color: #009879;">KU Polls</h1>
        </div>
    </div>
    {% if latest_question %}
        <div class="row d-flex justify-content-center">
        <table class="content-table w-75">
            <thead>
                <tr>
                    <th class="text-center" colspan="3" style="font-size: 16px;">Available polls</th>
                </tr>
            </thead>
            <tbody>
                {% for question in latest_question %}
                <tr>
                    <td class="col-9">{{ question.question_text }}</td>
                    {% if question.can_vote %}
                        <td><a href="{% url "polls:detail" question.id %}" class="vote-btn btn btn-primary">Vote</a></td>
                    {% else %}
                        <td><a href="{% url "polls:detail" question.id %}" class="disabled-vote-btn btn btn-primary disabled">Vote</a></td>
                    {% endif %}
                    <td><a href="{% url "polls:results" question.id %}" class="vote-btn btn btn-primary">Result</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p>No polls are available. Please create one.</p>
    {% endif %}
    </div>
{% endblock %}