{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>KU Polls</title>
{% endblock %}

{% block main_content %}
    <div style="padding: 20px 0;">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="w-75 d-flex align-items-center justify-content-center" style="padding-top: 20px;">
            <div class="col-9">
                <h1 style="color: #009879;">KU Polls</h1>
            </div>
            <div class="col-3">
{#                <div style="float: right !important;"><button class=" btn btn-primary" onClick="window.location.reload();">Create new</button></div>#}
            </div>
        </div>
    </div>
    {% if latest_question %}
        <div class="row d-flex justify-content-center">
        <table class="content-table w-75">
            <thead>
                <tr>
                    <th class="text-center" colspan="3" style="font-size: 16px;">Available polls</th>
                </tr>
            </thead>
            <tbody>
                {% for question in latest_question %}
                <tr class="row d-flex align-items-center justify-content-center">
                    <td class="col col-lg-9" style="display: inline-block;" id="quesion-txt">{{ question.question_text }}</td>
                    {% if question.can_vote %}
                        <td class="col-md-auto text-center" style="display: inline-block;"><a href="{% url "polls:detail" question.id %}" class="vote-btn btn btn-primary">Vote</a></td>
                    {% else %}
                        <td class="col-md-auto text-center" style="display: inline-block;"><button class="disabled-vote-btn btn btn-primary not-allowed">Vote</button></td>
                    {% endif %}
                    <td class="col-md-auto text-center" style="display: inline-block;"><a href="{% url "polls:results" question.id %}" class="vote-btn btn btn-primary">Result</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p>No polls are available. Please create one.</p>
    {% endif %}
    </div>
{% endblock %}