{% extends 'polls/base.html' %}
{% load static %}

{% block header %}
    <title>KU Polls</title>
    <link rel="stylesheet" href="{% static 'polls/css/main.css' %}">
{% endblock %}

{% block main_content %}
    {% if latest_question %}
    <div class="d-flex align-items-center justify-content-center" style="padding: 20px; height:100vh;">
        <table class="content-table w-75" style="background-color: white;">
            <thead>
                <tr>
                    <th class="col-10">Available polls</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for question in latest_question %}
                <tr>
                    <td>{{ question.question_text }}</td>
                    <td><a href="{% url "polls:detail" question.id %}" class="btn btn-primary" style="background-color: #254E70; border: 1px solid #254E70;"><span>Vote now </span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p> You don't have any question. Please create one.</p>
    {% endif %}
{% endblock %}