.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    margin: 5px;
    float: left;
    width: 20rem;
    height: 24rem;
}

.vote-btn {
  border-radius: 4px;
  background-color: #68BB59;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.vote-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.vote-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.vote-btn:hover span {
  padding-right: 25px;
}

.vote-btn:hover span:after {
  opacity: 1;
  right: 0;
}