@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    background-color: #F0F0F0;
    font-family: 'Source Sans Pro', sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

.content-table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 14px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom:2px solid #009879;
}

.submit-table tbody td:hover {
    background-color: #CAE0A4;
}

.submit-table tfoot tr {
    background-color: #009879;
}

.vote-btn {
    background-color: #00587A;
    border: 1px solid #00587A;
}

.vote-btn:hover {
    background-color: white;
    color: #00587A;
}

.disabled-vote-btn {
    background-color: #99E2FF !important;
    border: 1px solid #99E2FF !important;
}
